@import "tailwindcss";

@layer utilities {
	body {
		--toastify-color-success: var(--color-green-500);
		--toastify-color-error: var(--color-red-500);
		--toastify-color-dark: var(--color-slate-600);
	}
}
